@model CreateFuncionarioViewModel

@* @model IEnumerable<CreateFuncionarioViewModel> *@


<head>

    <link rel="stylesheet" href="~/css/Funcionario.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<header>
    <link rel="stylesheet" href="~/css/Header.css" asp-append-version="true" />
    <div class="header">
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" class="logout-form">
            <button type="submit" class="btn">Sair</button>
        </form>
        <img src="~/images/icones/profile-2.svg" class="icone-usuario" />
        <img src="~/images/avanacle-logo.png" class="avanacle-logo" />
    </div>
</header>
<body>

    <div class="container">

        <aside class="sidebar">
            <nav class="nav-nav">
                <ul class="container-nav nav nav-pills flex-column mt-2">
                    <li class="nav-item-lista">
                        <a href="#" class="text-secondary text-decoration-none">
                            <i class="nav-bi bi-clock"></i>Lançamento de horas
                        </a>
                    </li>
                    <li class="nav-item-lista">
                        <a asp-area="Admin" asp-controller="Funcionario" asp-action="Index" class="text-secondary text-decoration-none">
                            <i class="nav-bi bi-person"></i>Gerenciar funcionários
                        </a>
                    </li>
                    <li class="nav-item-lista">
                        <a asp-area="Admin" asp-controller="Departamento" asp-action="Index" class="text-secondary text-decoration-none">
                            <i class="nav-bi bi-folder"></i>Gerenciar departamentos
                        </a>
                    </li>
                    <li class="nav-item-lista">
                        <a asp-area="Admin" asp-controller="WBS" asp-action="Index" class="text-secondary text-decoration-none">
                            <i class="nav-bi bi-gear"></i>Gerenciar WBS
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>
        <main class="main-content">
            <section class="content">
                <div class="form-container">
                    <form asp-action="Create" method="post">
                        <div>
                            <label asp-for="Funcionario_NomeCompleto"></label>
                            <input asp-for="Funcionario_NomeCompleto" />
                        </div>
                        <div>
                            <label asp-for="Funcionario_Email"></label>
                            <input asp-for="Funcionario_Email" />
                        </div>
                        <div>
                            <label asp-for="Funcionario_DataContratacao"></label>
                            <input asp-for="Funcionario_DataContratacao" type="date" />
                        </div>
                        <div>
                            <label asp-for="Departamento_ID"></label>
                            <input asp-for="Departamento_ID" />
                        </div>
                        <div>
                            <label asp-for="Password"></label>
                            <input asp-for="Password" type="password" />
                        </div>
                        <div>
                            <label asp-for="Role"></label>
                            <select asp-for="Role" asp-items="@(ViewData["Roles"] as IEnumerable<SelectListItem>)"></select>
                        </div>
                        <button type="submit">Create</button>
                    </form>
                </div>
            </section>
        </main>
    </div>

</body>

