@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />

<div class="body">

    <div class="header">

        <div class="my-te">MyTE</div>

        <img src="~/images/avanacle-logo.png" class="avanacle-logo"></img>

    </div>

    <div class="login">

        <div class="retangulo-formulario">

            <label class="email-word">Email</label>

            <input type="email" class="email-rectangle" placeholder="  email@email.com" />

            <label class="senha-word">Senha</label>

            <input type="password" class="senha-rectangle" placeholder="  Admin@123" />

            <a type="submit" class="btn" asp-area="" asp-controller="Funcionario" asp-action="Index">LOGIN</a>

        </div>

    </div>

</div> 