/*﻿.header {
    background-color: #FFFFFF;*/
    /*padding: 25px 39.7px 28px 31px;*/
    /*background-position: left top;*/
    /*display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;*/
    /*position: fixed;
    top: 0;*/

    /*height: 130px;
}

#dadosUsuario {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#dadosText {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header .usuario-funcao {
    font-family: 'Segoe UI';
    font-weight: 500;
    font-size: 15px;
    color: #363636;*/
    /*right: 10px;
    top: 10px;
    position: absolute;
    margin-top: 10px;
    margin-right: 150px;*/
/*}

.header .usuario {
    font-family: 'Segoe UI';
    font-weight: 700;
    font-size: 25px;
    color: #363636;*/
    /*right: 10px;
    top: 10px;
    position: absolute;
    margin-top: 30px;
    margin-right: 150px;*/
/*}

.header .usuario-email {
    font-family: 'Segoe UI';
    font-weight: 500;
    font-size: 15px;
    color: #363636;*/
    /*right: 10px;
    top: 15px;
    position: absolute;
    margin-top: 55px;
    margin-right: 150px;*/
/*}

.header .icone-usuario {*/
    /*position: absolute;
    top: 18px;
    right: 0;*/
    /*width: 100px;
    height: 71px;*/
    /* display: block;*/
/*}

.header .avanacle-logo {*/
    /*position: absolute;*/
    /*top: 18px;*/
    /*left: 25px;
    width: 192px;
    height: 89px;
}*/
