body {
    font-family: 'Segoe UI';
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
}


.container {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
}


.sidebar {
    width: 320px;
    background-color: #fff;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    padding-right: 10px;
    padding-left: 10px;
}


.logo img {
    max-width: 100%;
}



.nav-nav {
    margin-top: 200px;
    align-items: center
}

    .nav-nav .ola {
        font-family: 'Segoe UI';
        font-weight: bold;
        font-size: 26px;
        color: #FF5800;
        margin-bottom: 70px;
    }

.nav-bi {
    margin-right: 10px;
    margin-left: 10px;
}


.nav-item-lista {
    align-content: center;
}



nav ul {
    list-style-type: none;
    padding: 0;
}


    nav ul li {
        margin-bottom: 15px;
    }



        nav ul li a {
            text-decoration: none;
            color: #363636;
            font-size: 22px;
            margin-top: 10px;
        }



            nav ul li a.active {
                color: #f77e11;
            }


.logout {
    text-decoration: none;
    color: #f77e11;
    font-size: 22px;
    padding-right: 50px;
    align-self: flex-end;
    justify-self: center;
}



.main-content {
    flex: 1;
    left: 0;
    top: 0;
    margin: 20%;
    width: 80%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}


.content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-left: 40px;
    width: 700px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}



.header-depto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


.newBtn {
    background-color: #FF5800;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}



#newBtn:hover {
    background-color: #e65c00;
}



table {
    width: 100%;
    border-collapse: collapse;
}



th, td {
    padding: 10px;
    text-align: left;
}



th {
    font-weight: bold;
}



.editBtn, .deleteBtn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 22px;
    margin-right: 10px;
}



.editBtn {
    color: green;
    text-decoration: none;
}



.deleteBtn {
    color: red;
}



.editBtn:hover {
    color: darkgreen;
}



.deleteBtn:hover {
    color: darkred;
}
