body {
    font-family: 'Segoe UI';
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
}


.container {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
}


.sidebar {
    width: 320px;
    background-color: #fff;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    padding-right: 10px;
    padding-left: 10px;
}



.nav-nav {
    margin-top: 200px;
    align-items: center
}

    .nav-nav .ola {
        font-family: 'Segoe UI';
        font-weight: bold;
        font-size: 26px;
        color: #FF5800;
        margin-bottom: 70px;
    }

.nav-bi {
    margin-right: 10px;
}



.nav-item-lista {
    align-content: center;
}



nav ul {
    list-style-type: none;
    padding: 0;
}



    nav ul li {
        margin-bottom: 15px;
    }



        nav ul li a {
            text-decoration: none;
            color: #363636;
            font-size: 22px;
            margin-top: 10px;
        }



            nav ul li a.active {
                color: #f77e11;
            }


.logout {
    text-decoration: none;
    color: #FF5800;
    font-size: 22px;
    padding: 50px;
    align-self: flex-end;
    justify-self: center;
}



.main-content {
    flex: 1;
    left: 0;
    top: 0;
    margin: 20%;
    width: 80%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}


.content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-left: 40px;
    width: 700px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}



h2 {
    color: #FF5800;
    margin-bottom: 20px;
}



.form-group {
    margin-bottom: 15px;
}



label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}



input[type="text"] {
    width: calc(100% - 10px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f4f8ff;
}


/* Estilos do botão de alternância */

.toggle-button {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}



    .toggle-button input {
        opacity: 0;
        width: 0;
        height: 0;
    }



.toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 30px;
    cursor: pointer;
    transition: .4s;
}



    .toggle-label:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        border-radius: 50%;
        transition: .4s;
    }



input:checked + .toggle-label {
    background-color: #FF5800;
}



    input:checked + .toggle-label:before {
        transform: translateX(30px);
    }



.toggle-on,
.toggle-off {
    position: absolute;
    color: white;
    font-size: 12px;
    top: 50%;
    transform: translateY(-50%);
}



.toggle-on {
    left: 10px;
}


.toggle-off {
    right: 10px;
}


.save {
    background-color: #FF5800;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 22px;
    margin-top: 15px;
    margin-left: 505px;
    margin-bottom: 10px;
    text-decoration: none;
    font-weight: bold;
}


.save-btn:hover {
    background-color: #e65c00;
}
