@model IEnumerable<Departamento>

@{
    ViewData["Title"] = "Departamento Index";
}
<head>
    <link rel="stylesheet" href="~/css/DepartamentoIndex.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<header>
    <link rel="stylesheet" href="~/css/Header.css" asp-append-version="true" />
    <div class="header">
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" class="logout-form">
            <button type="submit" class="btn">Sair</button>
        </form>
        <img src="~/images/icones/profile-2.svg" class="icone-usuario" />
        <img src="~/images/avanacle-logo.png" class="avanacle-logo" />
    </div>
</header>
<body>
    <div class="container">
        <aside class="sidebar">
            <nav class="nav-nav">
                <ul class="container-nav nav nav-pills flex-column mt-2">
                    <li class="nav-item-lista">
                        <a asp-area="Admin" asp-controller="HorasTrabalhadas" asp-action="LancamentoHoras" class="text-secondary text-decoration-none">
                            <i class="nav-bi bi-clock"></i>Lançamento de horas
                        </a>
                    </li>
                    <li class="nav-item-lista">
                        <a asp-area="Admin" asp-controller="Funcionario" asp-action="Index" class="text-secondary text-decoration-none">
                            <i class="nav-bi bi-person"></i>Gerenciar funcionários
                        </a>
                    </li>
                    <li class="nav-item-lista">
                        <a asp-area="Admin" asp-controller="Departamento" asp-action="Index" class="text-secondary text-decoration-none">
                            <i class="nav-bi bi-folder"></i>Gerenciar departamentos
                        </a>
                    </li>
                    <li class="nav-item-lista">
                        <a asp-area="Admin" asp-controller="WBS" asp-action="Index" class="text-secondary text-decoration-none">
                            <i class="nav-bi bi-gear"></i>Gerenciar WBS
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>
        <main class="main-content">
            <section class="content">
                <div class="header-depto">
                    <a asp-action="Create" class="newBtn">
                        Novo
                        <i class="bi bi-plus-circle"></i>
                    </a>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Departamento</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td readonly>@item.Departamento_ID</td>
                                <td>@item.Departamento_Nome</td>
                                <td>
                                    <a asp-action="Update" asp-route-id="@item.Departamento_ID" class="editBtn">
                                        <i class="dep-bi bi bi-pencil"></i>
                                    </a>
                                </td>
                                <td>
                                    <a asp-action="Delete" asp-route-id="@item.Departamento_ID" class="deleteBtn">
                                        <i class="dep-bi bi bi-trash"></i>
                                    </a>
                            </tr>
                        }
                    </tbody>
                </table>
            </section>
        </main>
    </div>
</body>